.selected {
  border-bottom: 5px solid steelblue;
  cursor: pointer;
}

.onhover:hover {
  border-bottom: 5px solid coral;
  cursor: pointer;
  margin-bottom: -16px;
}

.icon {
  width: 80%;
}

.unavailable {
  filter: grayscale(100%);
}
